@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
  font-family: 'Montserrat', sans-serif;
}
.about-title {
  font-size: 3rem;
  text-align: center;
}

.history {
  font-size:2rem;
  padding-top: 50px;
  text-align:center;
  line-height: 4rem;
}

.container-about {
  padding-bottom: 8%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

@media screen and (max-width:480px) and (min-width:320px) {
  .about-title{
    margin-top: 15%;
  }
}
