@import url("https://fonts.googleapis.com/css2?family=Domine&display=swap");

* {
  font-family: "Domine", serif;
}


.about-title {
  font-size: 3rem;
  text-align: center;
}

.history {
  font-size: 1rem;
  padding-top: 50px;
  text-align:center;
  line-height: 2rem;
}

.container-about {
  padding-bottom: 8%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

/*
@media screen and (max-width:480px) and (min-width:480px)  {
  Mobile devices
}*/

/*
@media screen and (max-width:768px) and (min-width:481px) {
ipads/tablets
}*/

/*
@media screen and (max-width:1024px) and (min-width:769px) {
laptops
}*/

/*
@media screen and (max-width:1200px) and (min-width:1025px) {
desktops
}*/

/*
@media screen and (min-width:1201px) {
largescreen
}*/
