@import url('https://fonts.googleapis.com/css2?family=Domine&display=swap');

*{
  font-family:'Domine',serif;
}

h1 {
    text-align: center;
    font-size: 3rem;
}

.history{
    font-size: 3rem;
    padding-top: 50px;
  }

  .container-about{
    padding-top: 8%;
    padding-bottom: 8%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }