@import url('https://fonts.googleapis.com/css2?family=Domine&display=swap');

*{
  font-family:'Domine',serif;
}

.container-buy{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.whereto{
    font-size: 2.2rem;
    padding-bottom: 2rem;
}

.binancedesc{
    display: flex;
    flex-direction: row;
    max-width: 100%;
}

.binancedescp {
    padding-left: 2rem;
    justify-content: center;
    align-items: center;
    word-spacing: 3px;
    line-height: 1.7rem;
}

hr{
    color: white;
    width: 80%;
    margin-top: 30px;
}

.bnblnk{
    font-size: auto;
    font-weight: 100;
    width: auto;
    padding-left: 0;
}

.buyop{
    margin-top: 30px;
}

.kraken{
    margin-top: 20px;
}

.tit1{
    padding-bottom: 10px;
}

.coinbase{
    padding-top: 20px;
}

.voyager{
    padding-top: 20px;
    padding-bottom: 50px;
}

@media (max-width:767px){
    .bnbimg{
        visibility: hidden;
    }

    .binancedescp{
        position: absolute;
        top: 35%;
        left: 10%;
    }
}