@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
  font-family: 'Montserrat', sans-serif;
}
.container-news {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.two {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 1rem;
}

.four {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.twone {
  margin-left: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fourtwo {
  margin-left: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.guidelinetit {
  font-size: 3rem;
}

.twotwo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fourone {
  display: flex;
  flex-direction: column;
  align-items: center;
}


@media screen and (max-width:480px) and (min-width:320px)  {
  .guidelinetit{
    margin-top: 15%;
    margin-left: -5%;
  }
  iframe{
     width: 125px;
  }

  .four{
    margin-bottom: 1rem;
  }
}


@media screen and (max-width:768px) and (min-width:481px) {
  .guidelinetit{
    margin-left: -5%;
  }
  iframe{
     width: 220px;
  }

  .four{
    margin-bottom: 1rem;
  }
}

