@import url('https://fonts.googleapis.com/css2?family=Domine&display=swap');

*{
  font-family:'Domine',serif;
}
  

.container-news{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.two{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1rem;
}

.four{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.twone{
    margin-left: 3rem;
}

.fourtwo{
  margin-left: 3rem;
}

.guidelinetit{
  font-size: 3rem;
}

/*
@media screen and (max-width:480px) and (min-width:480px)  {
  Mobile devices
}*/

/*
@media screen and (max-width:768px) and (min-width:481px) {
ipads/tablets
}*/


/*
@media screen and (max-width:1024px) and (min-width:769px) {
laptops
}*/

/*
@media screen and (max-width:1200px) and (min-width:1025px) {
desktops
}*/

/*
@media screen and (min-width:1201px) {
largescreen
}*/
