@import url("https://fonts.googleapis.com/css2?family=Domine&display=swap");

* {
  font-family: "Domine", serif;
}

.App-converter {
  height: 30rem;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 10rem;
  background-color: black;
}
.heading-converter {
  margin-top: -9rem;
  font-size: 35px;
}
.container-converter {
  height: 300px;
  width: 800px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.convimg {
  width: 500px;
}
input {
  padding-left: 5px;
  font-size: 20px;
  font-weight: bold;
  height: 50px;
  background-color: cyan;
  color: black;
  font-size: 1.3rem;
  font-weight: bold;
}
.middle,
.right {
  width: 120px;
  font-size: 1.3rem;
  text-transform: uppercase;
  font-weight: bold;
}
.switch {
  padding: 5px;
  margin-top: 25px;
  background-color: black;
  border-radius: 50%;
  cursor: pointer;
}
.result-converter {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 800px;
  padding-left: 30px;
  text-transform: uppercase;
  align-items: center;
  align-content: center;
  justify-content: center;
  line-height: 3rem;
}
.button-conv {
  display: flex;
  width: 100px;
  height: 30px;
  font-weight: bold;
  font-size: 20px;
  border: 2px solid cyan;
  background-color: cyan;
  cursor: pointer;
  color: black;
  align-items: center;
  justify-content: center;
  align-content: center;
  margin-bottom: 2rem;
  border-radius: 10%;
}

.Dropdown-control {
  background-color: cyan;
}
.Dropdown-placeholder {
  background-color: cyan;
  color: black;
}

.Dropdown-option {
  background-color: cyan;
  color: black;
}

@media screen and (max-width: 910px) {
  .App-converter {
    max-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  .container-converter {
    max-width: 300px;
  }
  .result-converter {
    width: 300px;
  }

  .left {
    width: 50px;
    margin-right: 120px;
  }

  .resize {
    width: 150px;
  }
}

/*
@media screen and (max-width:480px) and (min-width:480px)  {
  Mobile devices
}*/

/*
@media screen and (max-width:768px) and (min-width:481px) {
ipads/tablets
}*/

/*
@media screen and (max-width:1024px) and (min-width:769px) {
laptops
}*/

/*
@media screen and (max-width:1200px) and (min-width:1025px) {
desktops
}*/

/*
@media screen and (min-width:1201px) {
largescreen
}*/
