@import url('https://fonts.googleapis.com/css2?family=Domine&display=swap');

*{
  font-family:'Domine',serif;
}

.coin-container {
  display: flex;
  justify-content: center;
}

.coin-row {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  height: 80px;
  border-bottom: 1px solid #d7d7d7;
  width: 900px;
}

.coin {
  display: flex;
  align-items: center;
  padding-right: 24px;
  width: 300px;
}

.coin h1 {
  display: flex;
  font-size: 16px;
  width: 150px;
}

.coin img {
  display: flex;
  height: 30px;
  width: 30px;
  margin-right: 10px;
}

.coin-symbol {
  display: flex;
  text-transform: uppercase;
  padding-left: 10px;
}

.coin-data {
  display: flex;
  text-align: right;
  justify-content: space-between;
  width: 100%;
}

.coin-price {
  display: flex;
  width: 110px;
}

.coin-volume {
  display: flex;
  width: 175px;
  padding-left: 10px;
}

.coin-marketcap {
  display: flex;
  width: 230px;
}

.coin-rank{
  display: flex;
  padding-right: 10px;
}

.coin-percent {
  display: flex;
  width: 100px;
}

.red {
  color: #f00606;
}

.green {
  color: #11d811;
}


@media screen and (max-width:480px) and (min-width:320px)  {
  .coin-container{
    max-width: 480px;
    min-width: 320px;
  }

  .coin-marketcap{
    visibility: hidden;
  }

  .coin-row{
    max-width: 480px;
    min-width: 320px;
  }

  .coin-volume{
    visibility: hidden;
  }

  .coin h1{
    visibility: hidden;
  }
  .coin-price{
    max-width: 60px;
    margin-left: 10px;
  }

  .coin-rank{
    max-width: 20px;
    visibility:visible;
    margin-left: 10px;
    margin-right: 10px;
  }

  .coin-symbol{
    max-width: 42px;
    margin-left: -160px;
  }

  .coin-percent{
    margin-left: -90px;
    width: 30px;
  }

}

/*
@media screen and (max-width:768px) and (min-width:481px) {
ipads/tablets
}*/


/*
@media screen and (max-width:1024px) and (min-width:769px) {
laptops
}*/

/*
@media screen and (max-width:1200px) and (min-width:1025px) {
desktops
}*/

/*
@media screen and (min-width:1201px) {
largescreen
}*/
