@import url('https://fonts.googleapis.com/css2?family=Domine&display=swap');


*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family:'Domine',serif;
  background: rgb(0,0,0);
/*   background: linear-gradient(117deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 20%, rgba(0,0,0,1) 41%, rgba(0,0,0,1) 59%, rgba(13,13,14,1) 85%); */
  color: #fff;
}

.coin-app{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
  color: #fff;
}

.coin-search{
  margin-top: -2rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.coin-text{
  margin-bottom: 2rem;
  text-align: center;
  font-size: 2em;
  font-weight: bolder;
  position: relative;
  top: 0.625rem;
}

.coin-input{
  padding-left: 1rem;
  max-width: 25rem;
  max-height: 3.125rem;
  border-radius: 0.375rem;
  border: none;
  outline: none;
  font-size: 1rem;
  background-image: linear-gradient(-225deg,#2711ee 0%,#18c6f2 48%,#4801ff 100%);
  color: #e2e2e2;
}

.coin-input::placeholder{
  color: #e2e2e2;
}


@media screen and (max-width:480px) and (min-width:320px)  {
.coin-search{
  width: 280px;
  margin-left: -10%;
}

.coin-input{
  width: 280px;
}
}

/*
@media screen and (max-width:768px) and (min-width:481px) {
ipads/tablets
}*/


/*
@media screen and (max-width:1024px) and (min-width:769px) {
laptops
}*/

/*
@media screen and (max-width:1200px) and (min-width:1025px) {
desktops
}*/

/*
@media screen and (min-width:1201px) {
largescreen
}*/