@import url('https://fonts.googleapis.com/css2?family=Domine&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Domine',serif;
    background: rgb(0,0,0);
  /*   background: linear-gradient(117deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 20%, rgba(0,0,0,1) 41%, rgba(0,0,0,1) 59%, rgba(13,13,14,1) 85%); */
    color: #fff;
  }

  .row{
      display: flex;
      flex-direction: column;
      width: 100%;
  }

#navbar{
    margin-top: 0rem;
    margin-bottom: -2.2rem;
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 2.2rem;
  }

  .coin-searcho{
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .coin-text{
    margin-top: 4rem;
    text-align: center;
    font-size: 2rem;
    font-weight: bolder;
    position: relative;
  }

  
  a{
    padding-left: 2rem;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.6rem;
    color: #fff;
    font-weight: 400;
    text-decoration: none;
  }
  
  a:hover{
    color: #18c6f2;
    transition: all 0.3s ease;
  }
  
  a:hover{
    cursor: pointer;
  }


@media screen and (max-width:480px) and (min-width:320px)  {
 
  .row{
    max-width: 480px;
    min-width: 320px;
  }

  .coin-searcho{
    width: 280px;
    font-size: 0.9rem;
    margin-top: -1rem;
    margin-bottom: -3rem;
    margin-left: -5%;
  }

  .coin-text {
    font-size: 10px;
  }


  #navbar{
    max-width: 320px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
  }

  #navbar a{
    font-size: 0.9rem;
  }
}
